workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": "*/30 * * * *"
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543a6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "getEvents",
        "calendar": "primary",
        "returnAll": true,
        "filters": {
          "start": "={{$today}}",
          "end": "={{$today}}"
        }
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543a7",
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "1",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = items[0].json.value;\nconst externalAttendees = [];\n\nfor (const event of events) {\n  if (event.attendees) {\n    const external = event.attendees.filter(attendee => {\n      const email = attendee.emailAddress.address.toLowerCase();\n      return email.includes('@gmail.com') || \n             email.includes('@outlook.com') ||\n             email.includes('@hotmail.com');\n    });\n    \n    if (external.length > 0) {\n      externalAttendees.push({\n        eventId: event.id,\n        subject: event.subject,\n        start: event.start.dateTime,\n        attendees: external\n      });\n    }\n  }\n}\n\nreturn externalAttendees.map(item => ({json: item}));"
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543a8",
      "name": "Filter External Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/web/search",
        "authentication": "headerAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Subscription-Token",
              "value": "={{ $env.BRAVE_API_KEY }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.attendees[0].emailAddress.address }}"
            }
          ]
        }
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543a9",
      "name": "Brave Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "apiKey": "={{ $env.OPENAI_API_KEY }}",
        "prompt": "=Resuma as seguintes informações sobre o contato {{ $json.attendees[0].emailAddress.address }}:\n\n{{ $json.braveResults }}",
        "model": "gpt-3.5-turbo",
        "options": {
          "temperature": 0.5,
          "maxTokens": 200
        }
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543b0",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.INTERNAL_TEAM_EMAIL }}",
        "subject": "=Resumo do contato para reunião: {{ $json.subject }}",
        "text": "=Olá equipe,\n\nSegue resumo do contato externo para a reunião de hoje:\n\n{{ $json.summary }}\n\nDetalhes da reunião:\nAssunto: {{ $json.subject }}\nData: {{ $json.start }}\n\nAtenciosamente,\nBot de Resumos"
      },
      "id": "8c1eb1c1-d254-4c88-8bed-9f4e524543b1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook": {
      "main": [
        [
          {
            "node": "Filter External Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter External Contacts": {
      "main": [
        [
          {
            "node": "Brave Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {},
  "id": "123",
  "name": "Outlook-Brave-OpenAI Integration"
}